.formBackgroundRegister {
    color: black;
    background: rgba(255, 240, 107,0.4);
    border: 1px solid white;
    border-radius: 5px;
}

.textWelcomeRegister {
    color: black;
    font-size: 22px;
    text-align: center;
}

.textTitleRegister {
    color: black;
    font-size: 16px;
    text-align: center;
}

.textInfoRegister {
    color: #282c34;
    font-size: 12px;
    text-align: center;
}
